BiomeDescriptor(
    namespace: "vinox",
    name: "ignis",
    depth_bias: 0,
    heat: 4,
    humidity: 0,
    main_block: [
        ("vinox:ignis", 1),
    ],
    surface_block: Some([
        ("vinox:gravis", 1),
        ("vinox:andesite", 1),
    ])
)

