BlockDescriptor(
    namespace: "vinox",
    name: "light",
    textures: Some({
    Some("front"): Some("light.png"),
    }),
    has_item: Some(true),
    visibility: Some(Opaque),
    light: Some(16)
)
