BlockDescriptor(
    namespace: "vinox",
    name: "xoniv",
    textures: Some({
    Some("front"): Some("xoniv.png"),
    }),
    visibility: Some(Opaque), 
    has_item: Some(true),
    geometry: Some(Cross)
)
