BlockDescriptor(
    namespace: "vinox",
    name: "grass",
    textures: Some({
    Some("up"): Some("grass.png"),
    Some("down"): Some("dirt.png"),
    Some("front"): Some("grass_side.png"),
    }),
    break_tool: "shovel",
    visibility: Some(Opaque), 
    has_item: Some(true)
)