GeometryDescriptor(
    namespace: "vinox",
    name: "cross",
    blocks: (
         false,
	     false,
	     false,
	     false,
	     false,
	     false,
    ),
    element:
    BlockGeo(
        pivot: (8, 8, 8),
        rotation: (0, 90, 0),
        cubes: [
            FaceDescript(
                uv:(
                    ((0, 0), (16, 16)), // West
                    ((0, 0), (16, 16)), // East
                    ((16, 16), (-16, -16)), // Down
                    ((16, 16), (-16, -16)), // Up
                    ((0, 0), (16, 16)), // South
                    ((0, 0), (16, 16)), // North
                ),
                cull: (
            	     false,
				     false,
				     false,
				     false,
			         false,
				     false,
                ),
                discard: (
            	     false,
				     false,
				     true,
				     true,
			         false,
				     false,
                ),
                origin: (8, 0, 0),
                end: (8, 16, 16),
                rotation: (0, 0, 0),
                pivot: (8, 8, 8)
        ),
            FaceDescript(
                uv:(
                    ((0, 0), (16, 16)), // West
                    ((0, 0), (16, 16)), // East
                    ((16, 16), (-16, -16)), // Down
                    ((16, 16), (-16, -16)), // Up
                    ((0, 0), (16, 16)), // South
                    ((0, 0), (16, 16)), // North
                ),
                cull: (
            	     false,
				     false,
				     false,
				     false,
			         false,
				     false,
                ),
                discard: (
            	     false,
				     false,
				     true,
				     true,
			         false,
				     false,
                ),

                origin: (0, 0, 8),
                end: (16, 16, 8),
                rotation: (0, 0, 0),
                pivot: (8, 8, 8)
        )
    ]
    )
)