GeometryDescriptor(
    namespace: "vinox",
    name: "stair",
    blocks: (
         false,
	     false,
	     false,
	     false,
	     false,
	     false,
    ),
    element:
    BlockGeo(
        pivot: (0, 0, 0),
        rotation: (0, 0, 0),
        blocks: (
            false,
			false,
			false,
			false,
			false,
			false,
        ),
        cubes: [
            FaceDescript(
                uv:(
                    ((0, 0), (16, 8)), // West
                    ((0, 0), (16, 8)), // East
                    ((16, 16), (-16, -16)), // Down
                    ((16, 16), (-16, -16)), // Up
                    ((0, 0), (16, 8)), // South
                    ((0, 0), (16, 8)), // North
                ),
                cull: (
            	     false,
				     false,
				     false,
				     false,
			         false,
				     false,
                ),
                discard: (
            	     false,
				     false,
				     false,
				     false,
			         false,
				     false,
                ),

                origin: (0, 0, 0),
                end: (16, 8, 16),
                rotation: (0, 0, 0),
                pivot: (8, 8, 8)
        ),
            FaceDescript(
                uv:(
                    ((0, 0), (16, 8)), // West
                    ((0, 0), (16, 8)), // East
                    ((16, 16), (-16, -16)), // Down
                    ((16, 16), (-16, -16)), // Up
                    ((0, 0), (16, 8)), // South
                    ((0, 0), (16, 8)), // North
                ),
                cull: (
            	     false,
				     false,
				     false,
				     false,
			         false,
				     false,
                ),
                discard: (
            	     false,
				     false,
				     true,
				     false,
			         false,
				     false,
                ),

                origin: (0, 8, 0),
                end: (8, 16, 16),
                rotation: (0, 0, 0),
                pivot: (8, 8, 8)
        )
    ]
    )
)