BlockDescriptor(
    namespace: "vinox",
    name: "cobblestone",
    textures: Some({
    Some("front"): Some("cobblestone.png"),
    }),
    break_tool: "pickaxe",
    visibility: Some(Opaque), 
    has_item: Some(true),
    geometry: Some(Stairs)
)