BlockDescriptor(
    namespace: "vinox",
    name: "worley",
    textures: Some({
    Some("front"): Some("worley.png"),
    }),
    break_tool: "pickaxe",
    visibility: Some(Opaque), 
    has_item: Some(true),
    tex_variance: Some(
        (Some(true), Some(true), Some(true), Some(true), Some(true), Some(true))
    )
)