BlockDescriptor(
    namespace: "vinox",
    name: "ignis",
    textures: Some({
    Some("front"): Some("ignis.png"),
    }),
    has_item: Some(true),
    visibility: Some(Opaque)
    tex_variance: Some(
        (Some(true), Some(true), Some(true), Some(true), Some(true), Some(true))

)
