BlockDescriptor(
    namespace: "vinox",
    name: "limestone",
    textures: Some({
    Some("front"): Some("limestone.png"),
    }),
    has_item: Some(true),
    visibility: Some(Opaque),
    tex_variance: Some(
        (Some(true), Some(true), Some(true), Some(true), Some(true), Some(true))

)
