BiomeDescriptor(
    namespace: "vinox",
    name: "stone",
    depth_bias: 0,
    heat: -1,
    humidity: 3,
    main_block: [
        ("vinox:stone", 1),
        ("vinox:worley", 1)
    ],
    surface_block: Some([
        ("vinox:grass", 1),
    ])
)
