BlockDescriptor(
    namespace: "vinox",
    name: "dirt",
    textures: Some({
    Some("front"): Some("dirt.png"),
    }),
    break_tool: "shovel",
    visibility: Some(Opaque), 
    has_item: Some(true)
)